/*项目页面内样式集合*/
.meta-banner-fluid,.meta-footer,.meta-header{
	min-width: 1230px;
}
.container {
	width:1230px !important;
}
body {
    font-family:"微软雅黑";
}
/*头部*/
.meta-header{
    background:url(../imgs/header_bg.png);
    border-bottom:1px solid rgba(61,61,61,0.1);
	position: absolute;
}
.meta-header nav.navbar{
	margin-bottom: 0px;
}
.meta-header .navbar-brand{
	padding-bottom: 0;
	height: auto;
}
.meta-menu .nav > li > a{
	color: #fff;
	font-size: 18px;
}
.meta-menu .nav .open>a, 
.meta-menu .nav .open>a:focus, 
.meta-menu .nav .open>a:hover{
	background-color: transparent;
    border:none;
	color: #ff8500;
}
.meta-header .meta-menu .nav > li > a:hover,
.meta-header .meta-menu .nav > li > a:focus,
.meta-header .meta-menu .navbar-nav > .active > a,
.meta-header .meta-menu .navbar-nav > .active > a:focus,
.meta-header .meta-menu .navbar-nav > .active > a:hover{
	background-color: transparent;
	color: #ff8500;
}
.meta-menu li.dropdown .dropdown-menu:after,
.meta-menu li.dropdown .dropdown-menu:before{
	border-color:transparent;
	border-style:dashed dashed solid;
	border-width:0 8px 8px;
	content:"";
	display:block;
	height:0;
/*	pointer-events:none;*/
	position:absolute;
	left:45px;
	width:0;
	z-index:1;
}
.meta-menu li.dropdown .dropdown-menu:after{
	border-bottom-color:#fff;
	top:-7px;
}
.meta-menu li.dropdown .dropdown-menu:before{
	border-bottom-color:#ddd;
	top:-8px;
}
.meta-menu li.dropdown .dropdown-menu{
	padding: 30px 5px 20px 20px;
}
.meta-menu li.dropdown .dropdown-menu>li{
	float:left;
	width: 33.3333%;
}
.meta-menu li.dropdown .dropdown-menu>li>a,
.meta-menu-tab .meta-menu-tabcont ul>li>a{
	padding: 6px 10px;
	margin: 0 15px 10px 0;
	background-color: #E5E5E5;
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	border-radius: 2px;
	overflow: hidden;
}
.meta-menu li.dropdown .dropdown-menu>li>a:hover,
.meta-menu-tab .meta-menu-tabcont ul>li>a:hover,
.meta-menu-tab>ul>li.hover{
	background-color: #EC7D12;
	color: #fff;	
    text-decoration: none;
}
.meta-nav-college .dropdown-menu{
	width: 364px;
}
.meta-nav-business .dropdown-menu{
	width: 628px;
}
.meta-nav-business .meta-menu-tab>ul{
	float: left;
	width: 100px;
	margin-top: -15px;
	padding: 15px 0;
}
.meta-menu-tab>ul>li{
	color: #333;
	cursor: pointer;
	line-height: 32px;
	text-align: center;
	margin-bottom: 10px;
}
.meta-menu-tab > ul > li>a{
	color: #333;
}
.meta-menu-tab > ul > li.hover>a{
    color:#fff;
}
.meta-menu-tab .meta-menu-tabcont{
	width: 500px;
	float: left;
	border-left:1px solid #E0E0E0;
	margin-top: -15px;
	padding: 15px 0 0 20px;
	min-height: 156px;
}
.meta-menu-tab .meta-menu-tabcont ul li{
	float: left;
	width: 50%;
}
.meta-menu-tab .meta-menu-tabcont ul>li>a{
	display: block;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
}
.meta-header-tool{
	max-width: 620px;
	overflow: hidden;
	padding-top: 18px;
}
.meta-header-tool .meta-tool-email a{
	font-size: 14px;
	line-height: 50px;
	color:#fff;
	display: inline-block;
	padding: 0px 10px;
	position: relative;
}
.meta-header-tool .meta-tool-email a:first-child:after{
	content: "";
	position: absolute;
	top: 16px;
	right: 0px;
	width: 1px;
	background-color: #e5e5e5;
	height: 18px;
}
.meta-header-tool .meta-tool-tel{
	color:#fff;
	font-size: 16px;
	line-height: 50px;
}
.meta-header-tool .meta-tool-tel .glyphicon{
	vertical-align: text-bottom;
	font-size: 18px;
	margin-right: 3px;
}
.meta-header-tool .meta-tool-form{
	position: relative;
	margin-left: 30px;
}
.meta-header-tool .meta-tool-form input{
	width: 200px;
	margin-top: 10px;
	height: 30px;
	box-shadow: none;
	border-radius: 0;
	padding: 4px 30px 4px 12px;
}
.meta-header-tool .meta-tool-form .glyphicon{
	position: absolute;
	right: 0;
	top: 10px;
	width: 30px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	color: #AAA;
}
/*全屏轮播图*/
.meta-banner-fluid{
	margin:0px auto 20px;
	padding: 0px;
	-moz-user-select: none;
	-webkit-user-select:none;
	-ms-user-select:none;
	user-select:none;
}
.meta-banner-fluid .container{
	position: absolute;
	top: 126px;
	left: 50%;
	bottom: 0;
	margin-left: -615px;
}
.meta-banner-fluid .carousel-control{
	background-image:none;
    filter:none;
}
.meta-banner-fluid .carousel-control .meta-arrow-left,
.meta-banner-fluid .carousel-control .meta-arrow-right{
	width: 40px; 
    height: 53px;
	position: absolute;
    top: 50%;
	left: 50%;
    z-index: 5;
	margin-top: -40px;
	margin-left: -20px;
	background-image:url(../imgs/banner_arrow.png);
	background-repeat: no-repeat;
}
.meta-banner-fluid .carousel-control .meta-arrow-left{
	background-position:-92px 0;
}
.meta-banner-fluid .carousel-control .meta-arrow-right{
	background-position:-139px 0;
}
.meta-banner-fluid .carousel-indicators li{
    background-color:transparent;
	width: 15px;
	height: 15px;
	margin:auto 3px;
	vertical-align: middle;
    overflow: hidden;
    border:none\9;
    *text-indent:0;
    *display:inline;
    *zoom:1;
}
:root .meta-banner-fluid .carousel-indicators li{
    border:1px solid #fff;
}
.meta-banner-fluid .carousel-indicators li div{
    width: 100%; height: 100%;
    border-radius: 50%;
    border: 15px dotted;
    /* IE7,IE8圆尺寸要小1像素同时有1像素偏移 */
    margin: 0px 1px 0px 0;
    border-width: 0vw;
    margin: 0vw;
    color:#fff;
    background-color: currentColor;
    filter:alpha(opacity=30); 
    -ms-filter:alpha(opacity=30);
    opacity: 0.3;
}
.meta-banner-fluid .carousel-indicators li.active div {
	color: #F81111; 
    filter:alpha(opacity=100); 
    -ms-filter:alpha(opacity=100);
    opacity: 1;
}
.meta-banner-fluid .meta-video-player{
	position:absolute;
	top: 50%;
	left: 50%;
	width: 95px;
	height: 95px;
	margin-top: -50px;
	margin-left: -47.5px;
	cursor: pointer;
    filter:alpha(opacity=80); 
    -ms-filter:alpha(opacity=80);
    opacity: .8;

	-webkit-transition:all .3s ease-in-out;
	-moz-transition:all .3s ease-in-out;
	-o-transition:all .3s ease-in-out;
	transition: all .3s ease-in-out;
}
.meta-banner-fluid .meta-video-player img{
    width:100%;
    display:block;
}
.meta-banner-fluid .meta-video-player:hover{	
	
    filter:alpha(opacity=100); 
    -ms-filter:alpha(opacity=100);
    opacity: 1;
	
	-webkit-transform:scale(1.2); 
	-moz-transform:scale(1.2); 
	-ms-transform:scale(1.2);
	-o-transform:scale(1.2); 
	transform: scale(1.2);	
}
/* 接下来我们添加一些CSS，修改幻灯效果给淡入淡出 */
.carousel-fade .carousel-inner .item{
  opacity:0.3;
  -webkit-transition-property:opacity ;
  -moz-transition-property:opacity ;
  -o-transition-property:opacity ;
  transition-property:opacity ;
}

.carousel-fade .carousel-inner .active{
  opacity: 1;
}

.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right{
  left: 0;
  opacity: 0.3;
}

.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}
/*小播放器*/
.meta-banner{
	padding-right: 0;
	height: 350px;
	overflow: hidden;
}
.meta-banner .carousel{
	border:1px solid #E1E1E1;
	padding: 2px;
}
.meta-banner .carousel-inner .item a{
	height: 344px;
	background-color: #EFEFEF;
	background-position: center;
	background-size:100% auto;
	background-repeat: no-repeat;
	display: block;
}
.meta-banner .carousel-inner .carousel-caption{
	right: 0;left: 0;
	bottom: 36px;
    background-image:url(../imgs/header_bg.png)\9;
	padding:6px 10px;
	text-align: left;	
	overflow:hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
}
:root .meta-banner .carousel-inner .carousel-caption{
	background-color: rgba(51,51,51,0.5);
}
.meta-banner .carousel-indicators{
	background-color: #fff;
	left: 0;right: 0;bottom: 0;
	margin: 0;
	width: auto;
    height:38px;
	line-height: 38px;
}
.meta-banner .carousel-indicators li{
    background-color:#fff;
	width: 12px;
	height: 12px;
	margin: 0;
	vertical-align: middle;
    overflow: hidden;    
    *text-indent:0;
    *display:inline;
    *zoom:1;
}
.meta-banner .carousel-indicators li div{
    width: 100%; height: 100%;
    border-radius: 50%;
    border: 10px dotted;
    /* IE7,IE8圆尺寸要小1像素同时有1像素偏移 */
    margin: 0px 1px 0px 0;
    border-width: 0vw;
    margin: 0vw;    
	-webkit-box-shadow:inset 2px 2px 2px #ccc;  
	-moz-box-shadow:inset 2px 2px 2px #ccc;  
	box-shadow:inset 2px 2px 2px #ccc;
    color: #E5E5E5;
    background-color: currentColor;
}
.meta-banner .carousel-indicators li.active div {
	color: #F8110F;
	-webkit-box-shadow:inset 2px 3px 2px #E60606;  
	-moz-box-shadow:inset 2px 3px 2px #E60606;  
	box-shadow:inset 2px 3px 2px #E60606;  
}
.meta-banner-more{
	position: absolute;
	bottom: 5px;
	right:20px;
	color: #1a84ae;
	border:1px solid #1a84ae;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	padding: 2px 10px;
	z-index: 16;
}
.meta-banner .carousel-control{	
	top: 50%;
	margin-top: -45px;
	bottom: auto;
	background-image:url(../imgs/banner_arrow_white.png);
    background-color:none;
    background-repeat:no-repeat;
    filter:none;
	width: 50px;
	height: 50px;
	-webkit-border-radius:50px;
	-moz-border-radius:50px;
	border-radius: 50%;
    filter:alpha(opacity=80); 
    -ms-filter:alpha(opacity=80);
	opacity: .8;
	text-shadow: none;
	
	-webkit-transition: opacity .2s 0s ease-out;
	-moz-transition: opacity .2s 0s ease-out;
	-o-transition:opacity .2s ease-out;
	transition: opacity .2s 0s ease-out;
}
.meta-banner .carousel-control:hover{
    filter:alpha(opacity=100); 
    -ms-filter:alpha(opacity=100);
	opacity: 1;
}
.meta-banner .carousel-control.left{	
	left: 25px;
    background-position:16px 0;
}
.meta-banner .carousel-control.left:hover{
    background-position:-94px 0;
}
.meta-banner .carousel-control.right{	
	right: 25px;
    background-position:-30px 0;
}
.meta-banner .carousel-control.right:hover{
    background-position:-165px 0;
}
/*滑动门*/
.meta-tab .nav-tabs{
	background: #E8E8E8;
}
.meta-tab .nav-tabs>li>a{
	border-radius:0;
	color: #000;
	font-size: 15px;
    font-weight: bold;
}
.meta-tab .nav-tabs>li.active>a, 
.meta-tab .nav-tabs>li.active>a:focus, 
.meta-tab .nav-tabs>li.active>a:hover{
	border-top:2px solid #3069BA;	
}
.meta-tab .tab-content{
	min-height: 306px;
	border:1px solid #E1E1E1;
	border-top: none;
}
.meta-tab .tab-content ul{
	padding: 10px 15px;
	margin-bottom: 0;
}
.meta-tab .tab-content ul li a{
	color: #222;
	display: inline-block;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
	line-height: 38px;
	max-width: 80%;
}
.meta-tab .tab-content ul li a:hover{
	color: #1a84ae;
}
.meta-tab .meta-tab-arrow{
	float: left;
	color: #1a84ae;
	font-size: 24px;
	font-weight: 600;
	font-family:'微软雅黑';
	margin-right: 10px;
	height: 38px;
	line-height: 36px;
}
.meta-tab .meta-tab-time{
	float: right;
	line-height: 38px;
}
.meta-tab .tab-content>.tab-pane{
	height: 300px;
	position: relative;
}
.meta-tab .meta-tab-more{
	position: absolute;
	bottom: 15px;
	right: 15px;
	background: #1a84ae;
	color: #fff;
	width: 80px;
	line-height: 35px;
	text-align: center;
}
/*身体中间广告*/
.meta-advert{
	margin: 30px auto;
}
.meta-advert a{
	display: block;
}
.meta-advert img{
	display: block;
	width: 100%;
}
/*专题研究+主营业务*/
.meta-panel-title{
	padding: 10px 0;
	margin-bottom: 20px;
	border-bottom: 1px solid #1a84ae;
}
.meta-panel-cont .carousel{
	border: 1px solid #E5E5E5;
	padding: 10px;
    min-height:373px;
}
.meta-panel-box .carousel-inner .item a{
	display: block;
	position: relative;
    max-height:351px;
}
.meta-panel-box .carousel-inner .carousel-caption{
	position: absolute;
	top: 41.5%;
	left: 2%;
	right: 2%;
	bottom: auto;
	font-size: 28px;
	font-weight: bold;
	color: #000;
	text-shadow: none;
	padding: 0px;
}
.meta-panel-box .carousel-indicators li{
	border: 1px solid #999;
	text-indent: 0;
	width: 42px;
	height: auto;
	-webkit-border-radius:0;
	-moz-border-radius:0;
	border-radius: 0;
	position: relative;
    *display:inline;
    *zoom:1;
}
.meta-panel-box .carousel-indicators li:after{
	content: "";
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background-color: rgba(29,27,27,0.64);
}
.meta-panel-box .carousel-indicators li.active{
	margin: 1px;
	border: 1px solid #fff;
}
.meta-panel-box .carousel-indicators li.active:after{
	content: normal;
}
.meta-panel-box .carousel-indicators li img{
	width: 100%;
	display: block;
}
.meta-panel-cont .meta-major{
	margin: 0;
}
.meta-panel-cont .meta-major li{
	float: left;
	width: 32.4%;
	margin-left: 1.4%;
}
.meta-panel-cont .meta-major li:first-child{
	margin-left: 0;
}
.meta-major li a{
	display: block;
	height: 373px;
	position: relative;
}
.meta-major .meta-plan{
	background: url(../imgs/major01.jpg) no-repeat;
}
.meta-major .meta-standard{
	background: url(../imgs/major02.jpg) no-repeat;
}
.meta-major .meta-ligent{
	background: url(../imgs/major03.jpg) no-repeat;
}
.meta-major .meta-major-tit{
	font-size: 20px;
	line-height: 80px;
	text-align: center;
	background-color: #F1F2F3;
	color: #000;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
}
.meta-padding-right{
	padding-right: 0;
}
/*底部*/
.meta-footer{
	margin-top:30px;
}
.meta-navigation{
	background-color: #F2F2F2;
	padding: 30px 0;
}
/*
.meta-navigation .col-xs-5 .row{
	margin: 0;
}
.meta-navigation .col-xs-5 div[class^="col-xs"]{
	padding: 0;
}
*/
.meta-navigation dl {
	margin-bottom:0;
}
.meta-navigation dl dt{
	font-size: 14px;
	color: #000;
	padding: 10px 0 15px;
	margin-bottom: 10px;
	border-bottom: 1px dashed #c1c1c1;
}
.meta-navigation dl dd{
	font-size: 12px;
	padding: 6px 0;
}
.meta-navigation dl dd a{
	color: #333;
}
.meta-footer-qrcode{
	position:relative;
	margin-top: 25px;
}
.meta-footer-qrcode img{
	display: block;
	margin-left: 100px;
}
.meta-footer-qrcode span{
	position: absolute;
	top:50%;
	left: 260px;
	margin-top: -20px;
	height: 40px;
	line-height: 20px;
	color: #333;
	text-align: center;
}
.meta-footer-qrcode span strong{
	color: #FF8501;
	display: block;
	font-size: 16px;
}
.meta-copyright{
	padding: 20px 0;
	font-size: 12px;
	text-align: center;
}
.meta-copyright .meta-access{
	color: #EB7C10;
	margin-bottom: 10px;
}
.meta-copyright .meta-site-info{
	color: #999;
}

/*弹出播放器框*/
.meta-banner-video.modal-dialog{
	width:831px;
}
/*侧边悬浮广告*/
.meta-contact{
    display:none;
	position: fixed;
	bottom:100px;
	right: 30px;
	z-index: 800;
	border: 1px solid #CCC;
	width: 210px;
	background: #fff;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius: 3px;
	
	-moz-box-shadow:  1px 3px 5px rgba(60,60,60,0.2); 
	-webkit-box-shadow:  1px 3px 5px rgba(60,60,60,0.2);
	box-shadow: 1px 3px 5px rgba(60,60,60,0.2);
}
.meta-contact .meta-message{
	padding:15px 20px 25px 20px;
}
.meta-contact .meta-msg{
	border-bottom: 1px solid #ccc;
}
.meta-contact .meta-message h4{
	font-size: 16px;
	color: #222;
	font-weight: 600;
}
.meta-contact .meta-message span{
	display: inline-block;
	line-height: 36px;
	min-width: 80px;
}
.meta-contact .meta-message .meta-msgbtn{
	font-size: 12px;
	text-indent: 25px;
	cursor: pointer;
	background:url(../imgs/fixed_contact.png) center no-repeat;
}
.meta-contact .meta-message .meta-signup{
	margin-top: 20px;
	cursor: pointer;
	display: block;
	background:url(../imgs/fixed_signup.png) center no-repeat;
	width: 100%;
	text-align: center;
	color: #ff6f0b;
}
.meta-contact .meta-message .meta-signup:hover{
	color: #000;
}

/*子页面公共样式开始*/

/*子页面头部样式重置*/
.meta-header-other{
	position: relative;
	background: #fff;
    border:none;
}
.meta-header-other .meta-header-tool .meta-tool-email a,
.meta-header-other .meta-header-tool .meta-tool-tel{
	color: #1d2f57;
}
.meta-header-other .meta-header-tool .meta-tool-email a:first-child:after{
	background-color:#1d2f57;
}
.meta-header-other .meta-menu .nav > li > a{
	color: #1d2f57;
}
.meta-docs-banner{
	height: 250px;
	background:url(../imgs/head_docs_bg.jpg) no-repeat;
	background-position:center;
	background-size: auto 100%;
	background-color: #003C54;
	position: relative;
	z-index: 20;
}
.meta-contact-banner{
	height: 450px;
	background:url(../imgs/head_contact_bg.jpg) no-repeat;
	background-position:center;
	background-size: auto 100%;
	background-color: #F1F1F1;
	position: relative;
	z-index: 20;
}
.meta-wrap{
	position: relative;
	z-index: 50;
	margin-top: -195px;
}
.meta-main-head{
    position:relative;
    z-index:70;
	background-color: #fff;
	-moz-box-shadow: 0px 3px 34px 0px rgba(122,122,122,0.8);	
	-webkit-box-shadow: 0px 3px 34px 0px rgba(122,122,122,0.8);	
	box-shadow: 0px 3px 34px 0px rgba(122,122,122,0.8);
    border-left:1px solid #ddd\9;
    border-right:1px solid #ddd\9;
    padding:20px 25px 70px 25px;
}
:root .meta-main-head {
    border:none;
}
.meta-main-head img{
    width:100%;
    display:block;
}
.meta-crumb .breadcrumb {
    border-radius:0;
}
.meta-crumb .breadcrumb > .active{
    color:#333;
}
.meta-main {
    background:#fff;    
    position: relative;
    z-index: 100;
    margin-top: -50px;
}
.meta-main>.row{
    margin:0px auto;
    padding:0px 25px;
}
.meta-main .meta-submenu{
    padding:0px;
    min-width:200px;
    /*width:17.392%*/
}
.meta-main .meta-maincont{
    width:81.7%;
}
/*单页面*/
.meta-artonce {
    margin-top:-60px;
    padding: 0px 25px;
}
.meta-content{
    padding:25px 0;
}
/*富文本编辑器内容放置区域*/
.meta-detail{
    font-size:14px;
}
.meta-detail p{
    line-height:1.8;
    font-size:15px;
    text-align: justify;
}
.meta-detail img {
    max-width:100%;
}
/*左侧导航*/
.meta-submenu .meta-submenu-top{
    background:#3A72C3;
    color:#c5ddff;
    text-align:right;
    padding:1px 20px 7px 0;
	-moz-user-select: none;
	-webkit-user-select:none;
	-ms-user-select:none;
	user-select:none;
}
.meta-submenu h2 {
    margin-top:17px;
    margin-bottom:13px;
}
.meta-submenu>ul>li {
    border-bottom:1px solid #DEDEDE;
    font-size:16px;
}
.meta-submenu>ul>li>a{
    line-height:50px;
    color:#333;
    text-align:center;
}
.meta-submenu ul li a{
    padding:0 10px;
    text-decoration:none;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
    display:block;
    cursor:pointer;
}
.meta-submenu ul li a:hover,
.meta-submenu ul li a.active{
    color:#3a72c3;
}
/*左侧二级菜单*/
.meta-submenu > ul > li.open >ul,
.meta-submenu > ul > li.active >ul{
    display:block;
}
.meta-submenu > ul > li.active > a {
    color:#3a72c3;
}
.meta-submenu ul li ul{
    font-size:15px;
    padding:0 0 8px 40px;
    display:none;
}
.meta-submenu ul li ul li a{
    line-height:35px;
    color:#666;
}
/*右侧内容*/
.meta-main .meta-maincont>h3,
.meta-artonce >h3{
    margin-top:8px;
    border-bottom:2px solid #DCDCDC;
    padding:0 0 10px 6px;
}
.meta-content .meta-detail-listmore {
    position: absolute;
    bottom: 0;
    right: 0;    
    background-color:#fff;
    cursor:pointer;
    color:#eb7d11;
    z-index:9;
}
/*院领导班子*/
.meta-maincont .meta-leader{
    padding:0px 0px 0px 30px;
}
.meta-leader dl{
    padding:55px 0 55px 0;
    border-bottom:1px solid #E5E5E5;
    margin-bottom:0;
}
.meta-leader dl:last-child{
    border-bottom:none;
}
.meta-leader dl dt{
    float:left;
    width:140px;
    max-width:17%;
    height:140px;
    background-image:url(../../imgs/headpic_default.png);
    background-size:100% 100%;
    background-position:center;
    background-repeat:no-repeat;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius: 5px;
}
.meta-leader dl dd{
    float:right;
    width:81%;
    color:#000;
    padding:4px 0;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space: nowrap;    
}
.meta-leader dl dd span{
    color:#666;
}
.meta-leader dl dd.meta-leader-name{
    font-size:15px;
    font-weight:600;
    padding:0px 0 8px;
    line-height:26px;
}
.meta-leader dl dd.meta-leader-name strong{
    font-size:18px;
    margin-right:15px;
}
.meta-leader dl dd.meta-leader-job {
    height:50px;
    line-height:23px;
    text-overflow:inherit;
    white-space:normal;
    position: relative;
}
.meta-leader dl dd.meta-leader-job:after{
    content: "... ";
    font-weight:bold;
    position: absolute;
    bottom: 0;
    right: 76px;
    padding:0 0 0px 11px;
    height:25px;
    color:#000;
    z-index:6;
    background:#fff;
}
.meta-leader-job .meta-leader-more {   
    line-height:23px;    
    padding:0px 10px;
}
.meta-leader dl.open dd{
    text-overflow:inherit;
    white-space:pre-line;
    overflow:visible;
    line-height:25px;
    height:auto;
}
.meta-leader dl.open dd.meta-leader-job:after{
    content:normal;
}

/*工作业绩*/
.meta-maincont .meta-achieve {
    overflow:hidden;
    padding-bottom:0;
}
.meta-achieve dl{
    float:left;
    width:30.2%;
    margin-right:4.7%;
    margin-bottom:30px;
}
/* IE8 nth */ 
.meta-achieve dl:first-child+dl+dl,
.meta-achieve dl:first-child+dl+dl+dl+dl+dl,
.meta-achieve dl:first-child+dl+dl+dl+dl+dl+dl+dl+dl{
    margin-right:0;
}
:root .meta-achieve dl:nth-child(3n){
    margin-right:0;
}
.meta-achieve dl dt img{
    display:block;
    width:100%;
}
.meta-achieve dl a{
    display:block;
}
.meta-achieve dl dd a{
    line-height:46px;
    font-size:16px;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}
/*工作业绩详情*/
.meta-maincont .meta-achieve-detail{
    padding:0px 0;
}
.meta-achieve-table table thead,
.meta-achieve-table table > tbody > tr:nth-of-type(even) {
    background-color:#F2F2F2;
}
.meta-achieve-table table tbody td:first-child,
.meta-achieve-table table tbody td:first-child+td,
.meta-achieve-table table thead th:first-child,
.meta-achieve-table table thead th:first-child+th{
    text-align:center
}
.meta-achieve-table table caption {
    font-size:18px;
    padding-left:10px;
    color: #222;
}
/*专家队伍*/
.meta-maincont .meta-expert {
    padding:10px 0;
}
.meta-expert-class {
    font-size:20px;
    color:#3972C2;
    font-weight:600;
    padding:30px 0;
}
.meta-expert-list {
    overflow:hidden;
    border-bottom:1px solid #e5e5e5;
}
.meta-expert-list:last-child{
    border-bottom:none;
}
.meta-expert-list dl{
    float:left;
    width:48%;
    margin-bottom:40px;
}
.meta-expert-list dl{
    margin-left:2%;
}
:root .meta-expert-list dl{
    margin-left:0;
}
:root .meta-expert-list dl:nth-child(2n){
    margin-left:4%;
}
.meta-expert-list dl dt{
    float:left;
    width:200px;
    max-width:48%;
    border:1px solid #CCC;
    padding:3px;
}
.meta-expert-list dl dt img{
    display:block;
    width:100%;
}
.meta-expert-list dl dd{
    float:right;
    width:49%;
    color:#222;
    margin-right:1%;
    line-height:26px;
}
.meta-expert-list dl dd.meta-expert-name{
    font-size:18px;
    font-weight:600;
    line-height:35px;
    margin-bottom:10px;
}
.meta-expert-list dl dd.meta-expert-info{
    color:#666;
    max-height:205px;
    overflow:hidden;
    position:relative;
}
.meta-expert-info .meta-expert-more {   
    width:100%;
    text-indent: -6px;
    cursor:default; 
    color:#eb7d11;
}
.meta-expert-info .meta-expert-more a{   
    color:#eb7d11;
}
/*新闻/列表模板*/
.meta-list ul li {
    border-bottom:1px dashed #DDD;
    overflow:hidden;
}
.meta-list ul li a{
	color: #222;
	display: inline-block;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
	line-height: 48px;
	max-width: 82%;
    float:left;
}
.meta-list ul li a:hover{
	color: #3a72c3;
}
.meta-list .meta-list-arrow{
	float: left;
	color: #3a72c3;
	font-size: 24px;
	margin-right: 8px;
    margin-left: 5px;
	line-height: 46px;
}
.meta-list .meta-list-time{
	float: right;
	line-height: 48px;
}
/*信息服务书刊详情*/
.meta-list-box .meta-list-describe {
    line-height:1.6;
    padding:20px 0 10px;
    text-indent:2em;
}
.meta-detail-box {
    background:#f5f5f5;
    padding:10px 15px;
}
/*新闻详情/单页*/
.meta-content .meta-content-title{
    font-size:24px;
    font-weight:600;
    text-align:center;
    padding:0 0 20px;
}
.meta-content .meta-content-info{
    font-size:14px;
    text-align:center;
    color:#666;
    line-height:30px;
    margin-bottom:30px;
}
/*党建工作*/
.meta-committee h3{
    background-image:url(../imgs/communist_title.png);
    background-position:left top;
    background-repeat:no-repeat;
    color:#fff;
    padding-bottom:18px;
    line-height:42px;
    text-indent:50px;
    border-bottom:10px solid #C00000;
}
.meta-committee .meta-content{
    background-image:url(../imgs/communist_bg.png);
    background-position:right bottom;
    background-repeat:no-repeat;
}
/*历届会议详情*/
.meta-meeting>h3{
    position:relative;
    padding-right:180px !important;
    margin-top: 0 !important;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
    height:50px;
    line-height:50px;
}
.meta-meeting .meta-meet-topbtn{
    position:absolute;
    right:30px;
    top:5px;
    color:#eb7d11;
    border:1px solid #e5e5e5;    
	-webkit-border-radius:30px;
	-moz-border-radius: 30px;
	border-radius:30px;
    width:145px;
    height:38px;
    line-height:36px;
    text-align:center;
    cursor:pointer;
    text-decoration:none;
    
	-webkit-transition:all .2s ease;
	-moz-transition:all .2s ease;
	-o-transition:all .2s ease;
	transition: all .2s ease;
}
.meta-meeting .meta-meet-topbtn:hover{
    background-color:#eb7d11;
    border-color:#eb7d11;
    color:#fff;
}
.meta-meeting .meta-meet-subtitle {
    font-size:18px;
    color:#eb7d11;
    padding:0 0 20px 6px;
    font-weight:600;
}
.meta-meeting .meta-meet-signup {
    margin:30px auto 0;
    width:300px;
    line-height:56px;
    font-size:20px;
    color:#fff;
    text-align:center;
    background-color:#3A73C4;    
	-webkit-border-radius:56px;
	-moz-border-radius:56px;
	border-radius:56px;
    cursor:pointer;
	-webkit-transition:all .3s ease;
	-moz-transition:all .3s ease;
	-o-transition:all .3s ease;
	transition: all .3s ease;
}
.meta-meeting .meta-meet-signup:hover{
    background-color:#3366AA;    
}
.meta-meet-end .meta-content {
    position:relative;
}
.meta-meet-end .meta-content .meta-meet-more{
    bottom:0;
    height:25px;
    line-height:25px;
}
/*信息服务*/
.meta-filter-year {
    padding:30px 0;
}
.meta-filter {
    position:relative;
}
.meta-filter .meta-filter-item {
    width:86%;
    margin:0px auto;
	-moz-user-select: none;
	-webkit-user-select:none;
	-ms-user-select:none;
	user-select:none;
    overflow:hidden;
    position:relative;
    min-height:76px;
}
.meta-filter .meta-filter-item ul{
    margin-bottom:0;
    overflow:hidden;
    position:absolute;
    min-width:100%;
    left:0;
    top:0;
}
.meta-filter .meta-filter-item li{
    float:left;
    text-align:center;
    font-size:22px;
    position:relative;
}
.meta-filter .meta-filter-item li:after{
    content:"";
    position:absolute;
    top:50%;
    left:2px;
    right:0;
    z-index:2;
    border-bottom:2px dotted #E5E5E5;
}
.meta-filter .meta-filter-item li:first-child:after {
    left:41%;
}
.meta-filter .meta-filter-item li:last-child:after {
    right:41%;
}
.meta-filter .meta-filter-item li a{
    background-color:#fff;
    position:relative;
    z-index:12;
    color:#666;
    text-decoration:none;
    width:76px;
    margin:0px auto;
    height:76px;
    line-height:76px;
    display:block;
    cursor:pointer;
}
.meta-filter .meta-filter-item li.active a{
    color:#fff;
    background-image:url(../imgs/filter-current.jpg);
    background-repeat:no-repeat;
    background-position:left 2px;
}
.meta-filter .meta-filter-prev,
.meta-filter .meta-filter-next{
    width:40px;
    height:40px;
    position:absolute;
    top:50%;
    margin-top:-20px;
    left:10px;
    z-index:13;
    background-image:url(../imgs/filter-arrow.png);
    background-repeat:no-repeat;
    background-position:left center;
    cursor:pointer;
}
.meta-filter .meta-filter-next {
    left:auto;
    right:10px;
    background-position:-36px center;
}
.meta-filter .meta-filter-prev.disabled,
.meta-filter .meta-filter-next.disabled{
    filter:alpha(opacity=30); 
    -ms-filter:alpha(opacity=30);
	opacity: .3;
    cursor:not-allowed;
}
/*书刊*/
.meta-book dl{
    padding:4px;
    border:1px solid #efefef;
    position:relative;
}
.meta-book dl dt{
    position:absolute;
    left:30px;
    top:30px;
    z-index:4;
    width:160px;
    height:160px;
    overflow:hidden;
	-webkit-border-radius:50%;
	-moz-border-radius:50%;
	border-radius:50%;
}
.meta-book dl dt img{
    width:100%;
    display:block;
}
.meta-book dl dd{
    background:#F2F2F2;
    overflow:hidden;
    text-align:justify;
    padding-left:210px;
    padding-right:20px;
}
.meta-book dl dd.meta-book-name{
    color:#3A73C4;
    font-size:18px;
    padding-top:40px;
    padding-bottom:10px;
}
.meta-book dl dd.meta-book-describe{
    color:#555;
    line-height:25px;
    height:100px;
}
.meta-book dl dd.meta-book-more{
    padding-bottom:38px;
    position:relative;
}
.meta-book dl dd.meta-book-more span{
    right:20px;
    top:0;
    cursor:auto;
    background-color:transparent;
}
.meta-book dl dd.meta-book-more a{
    color:#eb7d11;
}
/*蓝皮书*/
.meta-blue{
    display:none;
}
.meta-bluebook-class {
    font-size:20px;
    color:#3972C2;
    font-weight:600;
    padding:20px 0;
}
.meta-bluebook dl{
    float:left;
    width:31%;
    padding:20px 0;
    margin-left:2.3%;
    background:#f5f5f5;
    
    -moz-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    -webkit-transition: all .2s ease-out;
    transition: all .2s ease-out;
}
.meta-bluebook dl:hover{
	-moz-box-shadow: 0px 2px 4px rgba(60,60,60,0.2);
	-webkit-box-shadow: 0px 2px 4px rgba(60,60,60,0.2);
	box-shadow: 0px 2px 4px rgba(60,60,60,0.2);
}
:root .meta-bluebook dl{
    margin-left:3.5%;
}
:root .meta-bluebook dl:nth-of-type(3n-2){
    margin-left:0;
}
.meta-bluebook dl dt{
    width:220px;
    height:220px;
    margin:0px auto 20px;
    overflow:hidden;
	-webkit-border-radius:50%;
	-moz-border-radius:50%;
	border-radius:50%;
}
.meta-bluebook dl dt img{
    width:100%;
    display:block;
}
.meta-bluebook dl dd a{
    display:block;
    padding:10px 20px;
    text-align:center;
    font-size:16px;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}
/*多媒体*/
.meta-media dl{
    float: left;
    width:47%;
    margin-bottom: 0;
    margin-left:3%;
    overflow:hidden;
    border-bottom:1px solid #e9e9e9;
    padding:25px 0;
}
:root .meta-media dl{
    margin-left:2%;
}
:root .meta-media dl:nth-child(2n){
    margin-left:4%;
}
.meta-media dl dt{
    float:left;
    width:45%;
    max-width:200px;
    overflow:hidden;
    position:relative;
}
.meta-media dl dt:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index:2;
    background: url(../../imgs/header_bg.png);
    opacity: 0;
    filter:alpha(opacity=0);
    -ms-filter:alpha(opacity=0);

    -moz-transition: all .5s;
    -o-transition: all .5s;
    -webkit-transition: all .5s;
    transition: all .5s;
}
.meta-media dl dt:hover:after {
    filter:alpha(opacity=100); 
    -ms-filter:alpha(opacity=100);
    opacity: 1;
}
.meta-media dl dt img{
    display:block;
    width:100%;

    -moz-transition: all 0.3s cubic-bezier(0, 0.5, 0.5, 1) 0s;
    -o-transition: all 0.3s cubic-bezier(0, 0.5, 0.5, 1) 0s;
    -webkit-transition: all 0.3s cubic-bezier(0, 0.5, 0.5, 1) 0s;
    transition: all 0.3s cubic-bezier(0, 0.5, 0.5, 1) 0s;
}
.meta-media dl dt:hover img{
    -webkit-transform:scale(1.1);
    -moz-transform:scale(1.1);
    -ms-transform:scale(1.1);
    -o-transform:scale(1.1);
    transform:scale(1.1);
}
.meta-media dl dt .meta-media-play {
    position:absolute;
    top:50%;
    left:50%;
    margin-left:-15px;
    margin-top:-15px;
    width:30px;
    height:30px;
    z-index:3;
    background-image:url(../imgs/small_play.png);
    background-repeat:no-repeat;
    background-position:center;
    cursor:pointer;
}
.meta-media dl dd{
    float:right;
    width:50%;
    margin-right:2%;
    text-align:justify;
}
.meta-media dl dd.meta-media-title{
    line-height:38px;
    text-indent:-5px;
    margin-bottom:5px;
    font-size:15px;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}
.meta-media dl dd.meta-media-title a{
    color:#222;
    text-decoration:none;
}
.meta-media dl dd.meta-media-title a:hover{
    color:#eb7d11;
}
.meta-media dl dd.meta-media-title b{
    font-weight:normal;
    color:#eb7d11;
}
.meta-media dl dd.meta-media-info{
    color:#777;
    height:75px;
    line-height:25px;
    overflow:hidden;
}
/*联系我们*/
.meta-contactus {
    margin-top:20px;
}
.meta-contactus .meta-artonce{
    margin-top:20px;
    padding:0;
}
.meta-contactus .meta-artonce h3 {
    text-align:center;
    font-size:32px;
    padding:20px 0;
}
.meta-contactus .meta-content-help {
    font-size:24px;
    margin-bottom:30px;
}
.meta-contactus .meta-contact-map {
    height:500px;
}
/*百度地图*/
.iw_poi_title {
    color: #CC5522;
    font-size: 14px;
    font-weight: bold;
    overflow: hidden;
    padding-right: 13px;
    white-space: nowrap;
}

.iw_poi_content {
    font: 12px arial,sans-serif;
    overflow: visible;
    padding-top: 4px;
    white-space: -moz-pre-wrap;
    word-wrap: break-word;
}
/*分页*/
.meta-pagination {
    text-align:center;
    padding-top: 20px;
}
.meta-pagination .pagination > li{
    margin:0px 8px;
    display:inline-block;
    *display:inline;
    *zoom:1;
}
.meta-pagination .pagination > li > a, 
.meta-pagination .pagination > li > span {
    border-radius:4px;
}
.meta-pagination .pagination > .active > a, 
.meta-pagination .pagination > .active > span, 
.meta-pagination .pagination > .active > a:hover, 
.meta-pagination .pagination > .active > span:hover, 
.meta-pagination .pagination > .active > a:focus, 
.meta-pagination .pagination > .active > span:focus {
    background-color:#087DEE;
    border-color:#087DEE;
}
/*翻页*/
.meta-pagination .pager li > a, 
.meta-pagination .pager li > span{
    max-width:380px;
    min-width:148px;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
    position:relative;
}
.meta-pagination .pager li.disabled a{
    pointer-events:none; 
}
.meta-pagination .pager li.next a{
    padding-right:35px;
}
.meta-pagination .pager li.next span[aria-hidden=true]{
    position:absolute;
    right:10px;
    top:5px;
}
/*子页面公共样式结束*/

/*响应式*/
@media screen and (min-width: 768px) {
	.carousel-indicators {
		bottom: 10px;
	}
}
@media screen and (max-width: 1400px){	
	.meta-banner-fluid .meta-video-player{
		width: 70px;
		height: 70px;
		margin-top: -50px;
		margin-left: -35px;
	}
	.meta-banner-video.modal-dialog{
		width:652px;
	}
	.meta-banner-video iframe {
		width:620px;
		height: 400px;
	}
    .meta-contact-banner{
	    height: 300px;
	    background-size:auto;
    }
}